# Data Preprocessing Tools

## Importing the libraries

In [53]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

## Importing the dataset

In [54]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [55]:
print(X)
print(y)

[['Jake' 1223 'France' 44.0 72000.0]
 ['Allen' 1111 'Spain' 27.0 nan]
 ['Jade' 2222 'Germany' 30.0 54000.0]
 ['Alice' 3333 'Spain' 38.0 61000.0]
 ['Bob' 4444 'Germany' 40.0 nan]
 ['David' 5555 'France' 35.0 58000.0]
 ['Alyssa' 6666 'Spain' nan 52000.0]
 ['Reily' 7777 'France' 48.0 79000.0]
 ['James' 8888 'Germany' nan nan]
 ['Kevin' 9999 'France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## Taking care of missing data

In [56]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:, 3:5 ])
X[:, 3:5] = imputer.transform(X[:, 3:5])

In [57]:
print(X);
print(y);

[['Jake' 1223 'France' 44.0 72000.0]
 ['Allen' 1111 'Spain' 27.0 63285.71428571428]
 ['Jade' 2222 'Germany' 30.0 54000.0]
 ['Alice' 3333 'Spain' 38.0 61000.0]
 ['Bob' 4444 'Germany' 40.0 63285.71428571428]
 ['David' 5555 'France' 35.0 58000.0]
 ['Alyssa' 6666 'Spain' 37.375 52000.0]
 ['Reily' 7777 'France' 48.0 79000.0]
 ['James' 8888 'Germany' 37.375 63285.71428571428]
 ['Kevin' 9999 'France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## Encoding categorical data

### Encoding the Independent Variable

In [58]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [59]:
print(X)

[[0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1223 'France' 44.0 72000.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1111 'Spain' 27.0
  63285.71428571428]
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2222 'Germany' 30.0 54000.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 3333 'Spain' 38.0 61000.0]
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 4444 'Germany' 40.0
  63285.71428571428]
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 5555 'France' 35.0 58000.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 6666 'Spain' 37.375 52000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 7777 'France' 48.0 79000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 8888 'Germany' 37.375
  63285.71428571428]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 9999 'France' 37.0 67000.0]]

### Encoding the Dependent Variable

In [60]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [61]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

## Splitting the dataset into the Training set and Test set

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [63]:
print(X_train)

[[0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 4444 'Germany' 40.0
  63285.71428571428]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 9999 'France' 37.0 67000.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1111 'Spain' 27.0
  63285.71428571428]
 [0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 6666 'Spain' 37.375 52000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 7777 'France' 48.0 79000.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 3333 'Spain' 38.0 61000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1223 'France' 44.0 72000.0]
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 5555 'France' 35.0 58000.0]]

In [64]:
print(X_test)

[[0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2222 'Germany' 30.0 54000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 8888 'Germany' 37.375
  63285.71428571428]]

In [65]:
print(y_train)

[1 1 1 0 1 0 0 1]

In [66]:
print(y_test)

[0 0]

In [67]:
print(X_train)

[[0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 4444 'Germany' 40.0
  63285.71428571428]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 9999 'France' 37.0 67000.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1111 'Spain' 27.0
  63285.71428571428]
 [0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 6666 'Spain' 37.375 52000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 7777 'France' 48.0 79000.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 3333 'Spain' 38.0 61000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1223 'France' 44.0 72000.0]
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 5555 'France' 35.0 58000.0]]

In [68]:
print(X_test)

[[0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2222 'Germany' 30.0 54000.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 8888 'Germany' 37.375
  63285.71428571428]]